<div class="announcement" data-id="<%= announcement.id %>" id="announcement_<%= announcement.id %>">
  <div class="announcement_detail">
    <div class="announcement_show">
      <h4>
        <%= announcement.title %>
        <% if announcement.user_id == User.current.id %>
          <a href="#" class="edit_announcement"><%= image_tag('edit.png', plugin: 'announcements') %></a>
          <a href="#" class="delete_announcement"><%= image_tag('delete.png', plugin: 'announcements') %></a>
        <% end %>
      </h4>
      <div class="announcement_content">
        <%= raw announcement.content.html_safe %>
      </div>
    </div>
    <div class="announcement_edit" style="display: none">
      <% if announcement.user_id == User.current.id %>
        <%= render partial: 'announcements/edit', locals: { announcement: announcement } %>
      <% end %>
    </div>
  </div>
  <div class="announcement_info">
    <p>
      <strong>Publicado por:</strong>
      <span><%= announcement.user.to_s %></span>
    </p>
    <p>
      <strong>Fecha:</strong>
      <span><%= announcement.created_at.strftime('%d/%m/%Y') %></span>
    </p>
  </div>
</div>